    </main> <!-- end of .page -->
  </div> <!-- end of .main-wrap -->
</div> <!-- end of .app -->

<footer class="footer">
  <p>© 2026 心有所SHU</p>
  <div class="footer-links">
    <a href="/guide">使用说明</a>
    <a href="/privacy">隐私政策</a>
  </div>
</footer>
