<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %> - 心有所SHU</title>
<script src="/v2/assets/theme-init.js"></script>
<link rel="stylesheet" href="/v2/assets/styles.css">
<%- include('../../partials/head-icons') %>
